.kidsImg{
    width: 500px;
}

@media (max-width: 959px) and (min-width: 320px){
    .kidsImg{
        width: 300px;
    }
    }
@media (min-width: 500px){
    .kidsImg{
        width: 400px;
    }
    }

@media (max-width: 319px){
    .kidsImg{
        width: 200px;
    }
    }