.border {
    padding: 70px 0;
    border-top: 6px solid rgba(128, 128, 128, 0.367);
    border-bottom: 6px solid rgba(128, 128, 128, 0.367);

}
.faqContainer{
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    color: white;
}

.faqH1{
    font-size: 46px;
}

.accordion {
    text-align: left;
    margin: 30px 0;
    
}

.item {
    margin-bottom: 10px;
    cursor: pointer;
}

.title {
    padding: 25px 30px;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-bottom: 1px;
}

.content {
    display: none;
}

.contentShow {
    font-size: 24px;
    padding: 20px 30px;
    background-color: rgb(45, 45, 45);
    display: block;
}

@media (max-width: 320px){
    .faqContainer{
        width: 319px;
        padding: 0px 15px;
    }
    
}
@media (min-width: 320px){
    .faqContainer{
        width: 319px;
        padding: 0px 15px;
    }
    
}

@media (min-width: 400px){
    .faqContainer{
        width: 399px;
        padding: 0px 15px;
    }
    
}

@media (min-width: 500px){
    .faqContainer{
        width: 499px;
        padding: 0px 15px;
    }
    
}

@media (min-width: 600px){
    .faqContainer{
        width: 599px;
        padding: 0px 15px;
    }
    
}

@media (min-width: 700px){
    .faqContainer{
        width: 699px;
        padding: 0px 15px;
    }
    
}
@media (min-width: 800px){
    .faqContainer{
        width: 759px;
        padding: 0px 15px;
    }
    
}
@media (min-width: 850px){
    .faqContainer{
        width: 800px;
        padding: 0px 15px;
    }
    
}

@media (min-width: 900px){
    .faqContainer{
        width: 850px;
        padding: 0px 15px;
    }
    
}

@media (min-width: 960px){
    .faqContainer{
        width: 900px;
        padding: 0px 15px;
    }
    
}

@media (min-width: 1000px){
    .faqContainer{
        width: 950px;
        padding: 0px 15px;
    }
}

@media (min-width: 1050px){
    .faqContainer{
        width: 1000px;
        padding: 0px 15px;
    }
}