.button {
    display: flex;
    background-color: #E50914;
    padding: 0.8rem 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    grid-row: 1;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgb(193, 17, 25);
}



@media (max-width: 600px) and (min-width: 320px){
    .button {
        font-size: 20px;
    
}
}

@media (max-width: 319px){
    .button {
        font-size: 10px;
    
}
}