.background {
    background-image: url("/public/img/netflixBackground.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.container{
    background-color: rgba(0, 0, 0, 0.601);
    padding-bottom: 200px;
}

.widthContainer{
    padding: 15px 160px;
    text-align: center;
}
