.tv {
    position: relative;
    width: 500px;
}

.video {
    margin-left: 60px;
    margin-top: 40px;
    position: absolute;
}

@media (max-width: 320px){
.tv {
    width: 300px;
}
.video{
    width: 220px;
    margin-left: 40px;
    margin-top: -26px;
}
}