header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.langLogin {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    color: #E50914;
    font-size: 3rem;
    font-weight: bold;
}


.langLogIn{
    display: flex;
    gap: 25px;
}

.logInBtn {
        background-color: #E50914;
        padding: 8px 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        font-size: 16px;
    
}

