header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.langLogin {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    color: #E50914;
    font-size: 3rem;
    font-weight: bold;
}


.langLogIn{
    display: flex;
    gap: 25px;
}


@media (max-width: 320px){
    header {
        margin: 0 15px;
        padding-top: 20px;
    }
    .logo {
        font-size: 2rem;

    }
   .logInBtn{
    padding: 0 0;
    font-size: 25px;
   }

}